# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build files
build/
dist/
**/build/
**/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/*
!.vscode/settings.json

# Vercel
.vercel/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db